<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>BITS2MSPhD Admit Database</h1>
    {% block content %}{% endblock %}
    {% block footer %}
    <hr>
    <p>BITS2MSPhD Team</p>
    {% endblock %}
</body>
</html>
